<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/ico" href="{{ asset('/img/logo.jpg') }}" />
  <title>{% block title %}MiPan - Gestión y punto de venta para Panaderías{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  {% block javascripts %}{% endblock %}
</body>

<br><br><hr>
<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4" style="background-color: black;">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 mx-auto">
        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">MiPan - Gestión y punto de venta para Panaderías</h5>
        <p>El software para panaderías permite a las empresas automatizar los tediosos procesos manuales, por lo tanto elimina los errores humanos y conduce a una mejor experiencia del cliente en general.
        </p>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-2 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Información</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#consistesoftwarepanaderías">¿En qué consiste un software para panaderías?</a>
            <br><br>
          </li>
          <li>
            <a href="#Gestiondeingredientes">Gestión de ingredientes</a>
            <br><br>
          </li>
          <li>
            <a href="#Programaciondelaproduccion">Programación de la producción</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <hr>
  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">¿Eres Cliente?</h5>
    </li>
    <li class="list-inline-item">
      <a href="#" class="btn btn-danger btn-rounded">Registrate!</a>
    </li>
  </ul>
  <!-- Call to action -->
  <hr>
  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1" href="https://es-es.facebook.com">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1" href="https://twitter.com">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1" href="https://www.linkedin.com">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1" href="https://www.instagram.com">
        <i class="fab fa-instagram"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    Copyright © 2020 MiPan :&nbsp; <a href="https://google.es/"> Sergio Cabral Andrades</a>. Todos los derechos reservados.
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


</html>
